section {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--modal-width);
  margin: 0 calc((100vw - var(--modal-width)) / 2);
  overflow-y: scroll;
  overflow-x: hidden;
}

#movie-modal {
  position: relative;
  top: 4.5rem;
  width: var(--modal-width);
  background: var(--bg);
  border-radius: var(--radius-l) var(--radius-l) 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  -webkit-animation: slide-in 0.2s;
          animation: slide-in 0.2s;
  padding-bottom: var(--ml);
  overflow: hidden;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: fade-in 0.4s 0.5s forwards;
          animation: fade-in 0.4s 0.5s forwards;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  padding: 0.75rem var(--mm);
}

.trailer {
  position: relative;
  overflow: hidden;
  height: calc(0.5625 * var(--modal-width));
}

.trailer .backdrop {
  height: calc(0.5625 * var(--modal-width));
  border-radius: var(--radius-l);
}

button {
  height: 2.75rem;
  border-radius: calc(var(--radius-s) + 4px);
  padding: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 10px 2px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 10px 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
}

button:disabled {
  cursor: default;
}

button:hover:not(:disabled) {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

button h4 {
  margin: 0.5rem;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

button img {
  opacity: 1;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

button:active:not(:disabled) {
  -webkit-transform: scale(97%);
          transform: scale(97%);
}

#play-button {
  color: black;
  background-color: white;
  margin-right: 0.75rem;
  width: 6.75rem;
}

#play-button i {
  color: black;
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.list-container {
  position: relative;
  border-radius: var(--radius-s);
}

.loading {
  position: absolute;
  border-bottom: 5rem solid transparent;
  width: 10rem;
  height: 0;
  -webkit-animation: rotate-360 1s forwards infinite linear;
          animation: rotate-360 1s forwards infinite linear;
}

@-webkit-keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#x {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

#x:hover {
  background: rgba(0, 0, 0, 0.7);
}

#backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  -webkit-animation: fade-in 0.2s;
          animation: fade-in 0.2s;
}

@-webkit-keyframes slide-out {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
    opacity: 0;
  }
}

@keyframes slide-out {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

.content-container {
  padding: 0.75rem 0.2rem;
  margin: var(--mm);
  border-radius: calc(var(--radius-s) + 4px);
  opacity: 0;
  -webkit-animation: fade-in 0.4s 0.2s forwards;
          animation: fade-in 0.4s 0.2s forwards;
  background-color: #202020;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 23rem 0 1rem 2rem;
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  pointer-events: none;
  color: white;
  background: linear-gradient(22.5deg, black 0%, rgba(0, 0, 0, 0) 50%);
  border-radius: 0 0 var(--radius-l) var(--radius-l);
}

h3 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0.2rem 0.75rem;
  width: 6rem;
}

h2 {
  color: #b8b8b8;
  margin: 3rem var(--mm) 1rem var(--mm);
}

.description {
  margin: var(--mm);
  padding: 0;
}

.description p {
  color: white;
  margin-bottom: 3rem;
  margin-top: 0;
  font-size: 1.1rem;
}

.genre {
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border-radius: 2rem;
  border: 2px solid white;
}

.genre:nth-of-type(1) {
  margin-left: 0;
}

.left-align {
  margin-right: 2rem;
}

.left-align h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.25rem 1rem;
}

.cast {
  margin: var(--mm);
}

.cast img {
  opacity: 1;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  border: 4px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.cast .name {
  color: white;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.25rem;
}

.cast .char {
  color: var(--light-text);
  font-weight: 200;
  text-align: center;
}

.recommendations h2 {
  margin: var(--mm);
  margin-top: 6rem;
}
/*# sourceMappingURL=movie-modal.component.css.map */